$royal-blue: #3359df;
$white: #fff;
$grey: #a5a5a5;
$light-blue: rgba(51, 88, 223, .651);
$lighter-blue: rgba(51, 88, 223, .1);
$red: #e57373;
$orange: #ff9100;
$green: #1de9b6;
$light-grey: #f1f1f1;
$blue: rgb(76, 130, 247);
$pink: rgb(255, 192, 203);
$dark-grey: rgb(75, 75, 75);


// shadow depths
$table-shadow: 0 6px 20px 2px rgba(0, 0, 0, .06);
$box-shadow: 0 2px 5px rgba(0, 0, 0, .18);
